@using System.Net;
@using Newtonsoft.Json;
@using System.Diagnostics;
@page "/"

<PageTitle>Pro Swapper Lobby</PageTitle>

<h1>Welcome to Pro Swapper Lobby</h1>

Select one of the tabs to start swapping!

<br />
<iframe src="https://discord.com/widget?id=@Services.MainService.DiscordWidgetAPI.id&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
<br />
<a href='https://ko-fi.com/Y8Y4D37MY' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://storage.ko-fi.com/cdn/kofi1.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>