@using System.Net;
@using Newtonsoft.Json;
@using System.Diagnostics;
@page "/"

<PageTitle>Pro Swapper Lobby</PageTitle>

<h1>Welcome to Pro Swapper Lobby</h1>

Select one of the tabs to start swapping!

<br />
<iframe src="https://discord.com/widget?id=@Services.MainService.DiscordWidgetAPI.id&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>


@code {


    protected override void OnInitialized()
    {
        base.OnInitialized();

        using (WebClient wc = new())
        {
            string data = wc.DownloadString("https://pro-swapper.github.io/api/LobbyAPI.json");

            var apiresp = JsonConvert.DeserializeObject<Data.API.Rootobject>(data);

            if (apiresp.Disable == true)
            {
                Process.GetCurrentProcess().Kill();
            }

            apiresp.DiscordID = 703033424541384784;

            Services.MainService.DiscordWidgetAPI = JsonConvert.DeserializeObject<Data.DiscordWidgetAPI.Root>(wc.DownloadString($"https://discord.com/api/guilds/{apiresp.DiscordID}/widget.json"));
        }

        ProSwapperLobby.DiscordRPC.InitializeRPC();

        Directory.CreateDirectory(Services.MainService.ProSwapperFolder + "\\.Config");
        MainService.InitConfig();

        Console.Clear();
        Console.Title = "Pro Swapper Lobby | Made by Kye#5000";
        Console.ForegroundColor = ConsoleColor.Red;
        Console.WriteLine("Please do not close this window when using Pro Swapper or the website will not work");
        Console.WriteLine(string.Empty);
        Console.WriteLine(string.Empty);
        Console.ForegroundColor = ConsoleColor.Blue;
        Console.WriteLine($"Pro Swapper Lobby is currently running on http://localhost:6969, if you need any help please ask for help on the Pro Swapper Discord server: {Services.MainService.DiscordWidgetAPI.instant_invite}");
        Console.WriteLine(string.Empty);
        Console.WriteLine(string.Empty);
        Console.WriteLine($"If you have paid for this software, you have been scammed. It is free to download at {Services.MainService.DiscordWidgetAPI.instant_invite} and is also available on GitHub: https://github.com/Pro-Swapper");
    }
}