@page "/settings"
@namespace ProSwapperLobby
@using System.Diagnostics
@using static Services.MainService


<h3>Settings</h3>



<ul class="list-group ">
  <li class="list-group-item">Current AES Key: <span style="font-family:Consolas">@CurrentConfig.aesKey</span></li>
  <li class="list-group-item">Current Installed Fortnite Version: @CurrentConfig.CurrentInstalledFortniteVersion</li>
  <li class="list-group-item">Current Live Fortnite Version: @CurrentConfig.CurrentLiveFortniteVersion</li>
  <li class="list-group-item">Fortnite Up To Date: @FnUpdated</li>
</ul>

<br />
<button class="btn btn-primary" @onclick=LaunchFortnite>Launch Fortnite</button>
<br />
<br />
<h4>Developer(s)</h4>
<div class="our-team" style="width:25vw">
        <div class="picture">
          <img class="img-fluid" src="https://cdn.discordapp.com/attachments/778776789866512394/930312364295852092/kyeichigopfp.gif">
        </div>
        <div class="team-content">
          <h3 class="name">Kye</h3>
          <h4 class="title">Full Stack Developer</h4>
        </div>
        <ul class="social">
            <li><a target="_blank" href="https://github.com/kyeondiscord" class="im im-github"></a></li>
            <li><a target="_blank" href="https://youtube.com/proswapperofficial" class="im im-youtube"></a></li>
            <li><a target="_blank" href="https://discord.com/users/686800430176665621"><img src="https://cdn.discordapp.com/attachments/778776789866512394/930326092189941760/Discord-Logo-White.png" style="width:23px;height:26px"/></a></li>
        </ul>
      </div>

<style>

    .our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: cadetblue;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #000;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1369ce;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}

</style>

@code {
    private bool FnUpdated => CurrentConfig.CurrentLiveFortniteVersion.Contains(CurrentConfig.CurrentInstalledFortniteVersion);

    private void LaunchFortnite()
    {
        Process webProcess = new Process();
        webProcess.StartInfo = new ProcessStartInfo() { UseShellExecute = true, FileName = "com.epicgames.launcher://apps/fn:4fe75bbc5a674f4f9b356b5c90567da5:Fortnite?action=launch&silent=false" };
        webProcess.Start();
    }
}
