@inherits LayoutComponentBase
@using Blazored.Toast.Configuration




<PageTitle>ProSwapperLobby</PageTitle>
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="15"
                IconType="IconType.FontAwesome"
                ShowProgressBar="@true"
                ShowCloseButton="@true">
    <CloseButtonContent>
        <div>
            <span class="myCloseButtonStyleClass">&times;</span>
        </div>
    </CloseButtonContent>
</BlazoredToasts>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
