<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ProSwapperLobby</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lobbyswapper?type=Skins">
                <span class="oi oi-plus" aria-hidden="true"></span> Skins
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lobbyswapper?type=Backblings">
                <span class="oi oi-plus" aria-hidden="true"></span> Backblings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lobbyswapper?type=Emotes">
                <span class="oi oi-plus" aria-hidden="true"></span> Emotes
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="lobbyswapper?type=Pickaxes">
                <span class="oi oi-plus" aria-hidden="true"></span> Pickaxes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lobbyswapper?type=Music">
                <span class="oi oi-plus" aria-hidden="true"></span> Music
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="swaplogs">
                <span class="oi oi-plus" aria-hidden="true"></span> Swapped Items
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
